name: CI

on: [push, pull_request]

jobs:
  # code-formatting:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Checkout V
  #     uses: actions/checkout@v2
  #     with:
  #       repository: vlang/v
  #   - name: Checkout VPM
  #     uses: actions/checkout@v2
  #     with:
  #       path: vpm
  #   - name: Build V
  #     run: make
  #   - name: v fmt -verify
  #     run: |
  #       cd vpm
  #       ../v fmt -verify vpm.v user.v token.v package.v login.v db.v

  ubuntu:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout V
      uses: actions/checkout@v2
      with:
        repository: vlang/v
    - name: Checkout discord.v
      uses: actions/checkout@v2
      with:
        path: discordv
    - name: Install dependencies
      run: sudo apt-get install --quiet -y libssl-dev
    - name: Build V
      run: make
    - name: Build discord.v
      run: |
        cd discordv
        v -path "/|@vlib|@vmodules" -prod .
        ls -lat
